.ex1 {
  height: 200px;
  width: 200px;
  background-color: var(--bg-turqoise);
  color: #000;
}

.ex2 {
  height: 200px;
  width: 200px;
  background-color: var(--bg-turqoise);
  color: #000;
  border: 5px solid var(--hl-yello);
}

.ex3 {
  height: 200px;
  width: 200px;
  background-color: var(--bg-turqoise);
  color: #000;
  border: 2px solid var(--hl-yello);
  margin-top: 10px;
}

.nested {
  margin-top: 10px;
  width: 120px;
  background-color: blue;
}
















body {
  background-color: #1D1E1F;
  color: white;
  font-family: Roboto mono, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --bg-turqoise: #81CDBE;
  --hl-yello: #FFEB3B;
  --text-bluegray: #283238;
}
